@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Raleway:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  box-sizing: border-box; }

nav {
  background: #343E3D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px; }
  nav .nav {
    display: flex;
    list-style: none; }
    nav .nav a {
      text-decoration: none;
      color: white;
      display: flex;
      padding: 10px 30px; }
      nav .nav a:hover {
        background: #1d2222; }
      nav .nav a.active {
        background: #1d2222; }
  nav h1 {
    color: white;
    font-weight: light; }

section {
  display: flex;
  justify-content: center;
  padding: 150px 0; }
  section .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%; }
  section .informacion h1 {
    color: #343E3D;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px; }
  section .informacion b {
    font-size: 20px; }
  section .informacion .categoria {
    padding-bottom: 10px; }
  section .informacion .cantidad {
    padding-bottom: 10px; }
  section .informacion .precio {
    padding-bottom: 10px; }
  section .informacion .confirmar a {
    display: inline-block;
    background: #343E3D;
    color: white;
    text-decoration: none;
    padding: 10px 40px; }
