@import "modules/basico";
@import "modules/nav";

section {
  display: flex;
  justify-content: center;
  .contenedor {
    width: 50%;
    h1 {
      padding: 20px 0;
      font-size: 40px;
    }
  }
  .cesta {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .cesta-group {
      width: 100%;
      box-shadow: 0px 0px 20px rgba(black, .2);
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
      .cesta-img {
        width: 150px;
        img {
          width: 100%;
        }
      }
      .cesta-boton {
        .boton-eliminar {
          color: red;
          background: none;
          border: none;
          &:hover {
            color: darken(red, 10);
            cursor: pointer;
          }
        }
      }
    }
    b {
      color: $color-secundario;
    }
    p {
      text-align: center;
    }
  }
  .pagar {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(black, .2);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .pagar-informacion {
      p {

      }
    }
    .pagar-boton {
      .boton-confirmacion {
        text-decoration: none;
        color: white;
        background: $color-secundario;
        padding: 10px 40px;
        &:hover {
          background: darken($color-secundario, 10);
        }
      }
    }
  }
}